<a href="https://colab.research.google.com/github/kurtlee1984/Machine_Learning/blob/main/Cluster_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
from sklearn.datasets import load_iris
import pandas as pd
iris_data = load_iris()
iris_data
df = pd.DataFrame(iris_data["data"], columns=iris_data["feature_names"])
df["target"] = iris_data["target"]
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

In [32]:
import numpy as np
from sklearn.model_selection import train_test_split
x = df.drop(["target"], axis=1)
y = df["target"] 
x = np.array(x)
y = np.array(y)
x_train, x_test, y_treain, y_test = train_test_split(x, y, test_size=0.1)

print(x_train.shape)
print(x_test.shape)

(135, 4)
(15, 4)

In [33]:
from sklearn.cluster import KMeans
clu = KMeans(n_clusters=3)
clu.fit(x_train)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [34]:
clu.labels_

array([1, 0, 1, 1, 1, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 0, 2, 2, 1, 1, 2, 2,
       2, 2, 1, 1, 2, 1, 0, 1, 1, 2, 2, 2, 1, 2, 0, 1, 1, 1, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 1, 2, 1, 0, 2, 2, 0, 0, 1, 0, 2, 0, 1,
       2, 2, 1, 0, 0, 1, 1, 1, 1, 2, 0, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2,
       2, 2, 2, 0, 2, 2, 0, 1, 1, 1, 2, 0, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2,
       1, 0, 0, 1, 1, 2, 1, 2, 2, 2, 2, 2, 0, 1, 1, 1, 2, 0, 2, 2, 0, 0,
       0, 2, 0], dtype=int32)

In [35]:
print("預測的結果:", list(clu.predict(x_test)))
print("正確的結果:", list(y_test))

from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, clu.predict(x_test))
print("正確率:", score)

預測的結果: [2, 2, 1, 0, 2, 2, 1, 0, 2, 1, 0, 0, 2, 2, 0]
正確的結果: [1, 1, 0, 2, 1, 1, 0, 2, 1, 0, 2, 2, 1, 1, 2]
正確率: 0.0